@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

.livedemo {
  font-family: 'Mansalva', cursive;
  font-size: 3rem;
  color: white;
}

a {
  text-decoration: none;
}

.livedemo1,
.livedemo2 {
  font-family: 'Mansalva', cursive;
  font-size: 50px;
  color: black;
}

.livedemo2:hover {
  color: purple;
}

.livedemo:hover {
  color: red;
}

.showcaseimg {
  width: 80%;
  margin: 5px 10%;
}

.align {
  text-align: center;
}

.st-bgblack {
  background-color: black;
}

:root {
  --width: 100%;
  --widthparent: 100%;
  --height: auto;
  --margin: 0.5%;
}

.stylorow {
  width: 100%;
  height: auto;
  margin-bottom: 0.5%;
  display: flex;
}

.fixed {
  position: fixed;
}

.stylo-1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
}

.stylo-2 {
  width: calc( var(--width) / 2);
  display: flex;
  flex-flow: row wrap;
  height: auto;
}

.stylo-3 {
  width: calc( var(--width) / 3);
  display: flex;
  flex-flow: row wrap;
  height: auto;
}

.stylo-4 {
  width: calc( (var(--width) / 4 ) - var( --margin ) );
  display: flex;
  flex-flow: row wrap;
  height: auto;
}

[class^="st"] {
  box-sizing: border-box;
  flex: auto;
}

.title {
  font-family: 'Mansalva', cursive;
  font-size: 1.5rem;
  color: white;
  background-color: black;
  text-align-last: center;
}

.title:hover{
  color: orange;
}

.st-bg {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.st-bg1 {
  background-image: url("../img/bg1-01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.st-bg2 {
  background-image: url("../img/b2-01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.st-bg21 {
  background-image: url("../img/bg2-01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.stpad {
  padding: 0.5%;
}

.stgtr {
  margin: calc(var(--margin) / 2);
}

.stylo-gutter > div {
  margin: calc(var(--margin) / 2);
}

.heauto {
  height: auto;
}

.he1 {
  height: 50px
}

.he2 {
  height: 100px;
}

.he3 {
  height: 200px;
}

.he4 {
  height: 250px;
}

.he5 {
  height: 500px;
}

.align {
  text-align: center;
}

.stylo-img {
  width: auto;
}

.nowrap {
  flex-wrap: nowrap;
}

@media screen and (min-width: 1024px) {

  [class^="st1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

}

@media screen and (max-width: 768px) {
  [class^="st1-1"] {
    width: 100%;
    height: calc( var(--height) );
  }

  [class^="st1-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st1-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st1-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st2-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st2-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st2-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st2-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st3-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st3-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st3-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st3-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st4-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st4-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st4-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st4-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  .sthid-md {
    display: none;
  }

  .sthid-lg-md {
    display: none;
  }

  .sthid-md-sm {
    display: none;
  }

  .sthid-lg-md-sm {
    display: none;
  }

}

@media screen and (max-width: 420px) {

  [class^="st1-1-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st1-1-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st1-1-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st1-1-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st1-2-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st1-2-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st1-2-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st1-2-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st1-3-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st1-3-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st1-3-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st1-3-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st1-4-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st1-4-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st1-4-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st1-4-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st2-1-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st2-1-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st2-1-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st2-1-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st2-2-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st2-2-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st2-2-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st2-2-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st2-3-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st2-3-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st2-3-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st2-3-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st2-4-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st2-4-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st2-4-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st2-4-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st3-1-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st3-1-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st3-1-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st3-1-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st3-2-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st3-2-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st3-2-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st3-2-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st3-3-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st3-3-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st3-3-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st3-3-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st3-4-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st3-4-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st3-4-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st3-4-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st4-1-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st4-1-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st4-1-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st4-1-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st4-2-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st4-2-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st4-2-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st4-2-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st4-3-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st4-3-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st4-3-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st4-3-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st4-4-1"] {
    width: 100%;
    height: calc( var(--height));
  }

  [class^="st4-4-2"] {
    width: calc( (var(--width) / 2 ) - var( --margin ) );
    height: calc( var(--height) );
  }

  [class^="st4-4-3"] {
    width: calc( (var(--width) / 3 ) - var( --margin ) );
    height: calc( var(--height));
  }

  [class^="st4-4-4"] {
    width: calc( (var(--width) / 4 ) - var( --margin ) );
    height: calc( var(--height));
  }

}
