 @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

.marginfix {
  padding-top: 40px;
}

.stylo {
  padding: 0 8%;
}

a {
  text-decoration: none;
}

.navigation {
  background-color: black;
  height: 40px;
}

.logofix {
  margin-left: 5%;
}

.navigation-left a {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  float: left;
  color: white;
  padding: 12px 5px;
}

.navigation-right img {
  float: right;
  padding: 1%;
}

.medium-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    color: #111;
    text-align: left;
    padding-right: : 5px;
}

.nav-bar {
  height: 40px;
  background-color: black;
}

.top-title {
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.leftimg-article {
  height: 105px;
}

.sectiontitle{
  width: 100%;
  border-bottom: 15px double #ddd;
}

.section-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  font-weight: 300;
}

.leftimg-article-sm {
  margin-top: 5px;
  height: 80px;
  border-bottom: 1px solid gray;
}

.overlay-title {
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.toptitle {
    background-color: #ddd;
    width: 98%;
    margin: 0 1%;
    padding: 2% 0;
}

.l-img {
  float: left;
  margin: 0 2%;
}


.main-img {
  width: 98%;
  margin: 1%;
}

.maintitle {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 500;
  color: #111;
}

.main-title {
  vertical-align: middle;
  text-align: center;
  margin: 10px 0;
  width: 100%;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #111;
  margin: 0 1%;
}

.big-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: #111;
  margin: 0 1%;
}

.mainarticle {
  width: 100%;
  height: auto;
}

.main-related {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #555;
}

.newslist {
  margin: 10px 0;
  border-bottom: 1px solid #eee;
  align-items: baseline;
  padding: 5px;
}

a :hover {
  color: #CC0000;
}

.pre-title {
  text-transform: uppercase;
  color: #CC0000;
}

.cnnlogo {
  text-align: left;
  margin-left: 15%;
}

.follow {
  text-align: right;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: white;
  margin-top: 10px;
  margin-right: -30%;
}

.footerwrap {
  background-color: black;
}

.social {
  text-align: right;
  margin-right: 1%;
  margin-top: 10px;
}

.wrapfix {
  flex-wrap: nowrap;
}

.marginfixfooter {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.footer2 {
  text-align: center;
}

.footer2 a {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 10px 10px;
  color: white;
}

.footer3 {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 10px 10px;
  color: white;
  text-align: left;
}

@media screen and (min-width: 1024px) {

}

@media screen and (max-width: 768px) {
  .follow {
    text-align: center;
    margin: 0;
  }

  .social {
    text-align: center;
    margin: 0;
  }

  .cnnlogo {
    margin: 0;
  }

  .footercontainer {
    text-align: center;
  }

  .mdhide {
    display: none;
  }

  .navigation-left a {
    display: none;
  }

  .stylo {
    padding: 0 2%;
  }

  .mdwrapfix {
    flex-wrap: wrap;
  }

  .mdblankfix {
    height: 10px;
  }
}

@media screen and (max-width: 420px) {
  .smblankfix {
    height: 10px;
  }

  .big-subtitle {
    font-size: 1em;
    font-weight: 500;
  }
}
