 @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

.marginfix {
  padding-top: 40px;
}

body {
  padding: 0 8%;
}

a {
  text-decoration: none;
}

.medium-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    color: #111;
    text-align: left;
    padding-right: : 5px;
}

.nav-bar {
  height: 40px;
  background-color: black;
}

.top-title {
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.leftimg-article {
  height: 105px;
}

.sectiontitle{
  width: 100%;
  border-bottom: 15px double #ddd;
}

.section-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  font-weight: 300;
}

.leftimg-article-sm {
  margin-top: 5px;
  height: 80px;
  border-bottom: 1px solid gray;
}

.overlay-title {
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.toptitle {
    background-color: #ddd;
    width: 98%;
    margin: 0 1%;
    padding: 2% 0;
}

.l-img {
  float: left;
  margin: 0 2%;
}


.main-img {
  width: 98%;
  margin: 1%;
}

.maintitle {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 500;
  color: #111;
}

.main-title {
  vertical-align: middle;
  text-align: center;
  margin: 10px 0;
  width: 100%;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #111;
  margin: 0 1%;
}

.big-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: #111;
  margin: 0 1%;
}

.mainarticle {
  width: 100%;
  height: auto;
}

.main-related {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #555;
}

.newslist {
  margin: 10px 0;
  border-bottom: 1px solid #eee;
  align-items: baseline;
  padding: 5px;
}

a :hover {
  color: #CC0000;
}

.pre-title {
  text-transform: uppercase;
  color: #CC0000;
}
