@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

.livedemo {
  font-family: 'Mansalva', cursive;
  font-size: 3rem;
  color: white;
}

a {
  text-decoration: none;
}

.livedemo1,
.livedemo2 {
  font-family: 'Mansalva', cursive;
  font-size: 50px;
  color: black;
}

.livedemo2 :hover {
  color: purple;
}

.livedemo :hover {
  color: red;
}

.showcaseimg {
  width: 80%;
  margin: 5px 10%;
}

.align {
  text-align: center;
}

.st-bgblack {
  background-color: black;
}

:root {
  --width: 100%;
  --widthparent: 100%;
  --height: auto;
  --margin: 0.5%;
}

.stylorow {
  width: 100%;
  height: auto;
  margin-bottom: 0.5%;
  display: flex;
}

.fixed {
  position: fixed;
}

.stylo-1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
}

.stylo-2 {
  width: calc(var(--width) / 2);
  display: flex;
  flex-flow: row wrap;
  height: auto;
}

.stylo-3 {
  width: calc(var(--width) / 3);
  display: flex;
  flex-flow: row wrap;
  height: auto;
}

.stylo-4 {
  width: calc((var(--width) / 4) - var(--margin));
  display: flex;
  flex-flow: row wrap;
  height: auto;
}

[class^="st"] {
  box-sizing: border-box;
  flex: auto;
}

.title {
  font-family: 'Mansalva', cursive;
  font-size: 1.5rem;
  color: white;
  background-color: black;
  text-align-last: center;
}

.title:hover{
  color: orange;
}

.st-bg {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.st-bg1 {
  background-image: url("../img/bg1-01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.st-bg2 {
  background-image: url("../img/b2-01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.st-bg21 {
  background-image: url("../img/bg2-01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.stpad {
  padding: 0.5%;
}

.stgtr {
  margin: calc(var(--margin) / 2);
}

.stylo-gutter > div {
  margin: calc(var(--margin) / 2);
}

.heauto {
  height: auto;
}

.he1 {
  height: 50px
}

.he2 {
  height: 100px;
}

.he3 {
  height: 200px;
}

.he4 {
  height: 250px;
}

.he5 {
  height: 500px;
}

.align {
  text-align: center;
}

.stylo-img {
  width: auto;
}

.nowrap {
  flex-wrap: nowrap;
}

.align-h-left {
  justify-content: flex-start;
}

.align-h-right {
  justify-content: flex-end;
}

.align-h-center {
  justify-content: center;
}

.align-v-top {
  align-items: flex-start;
}

.align-v-bottom {
  align-items: flex-end;
}

.align-v-center {
  align-items: center;
}

.st-stbg-1 {
  background-color: #008b8b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Mansalva', cursive;
}

.st-stbg-2 {
  background-color: #00678a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Mansalva', cursive;
}

.st-stbg-3 {
  background-color: #00458a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Mansalva', cursive;
}

.st-stbg-4 {
  background-color: #00228a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Mansalva', cursive;
}

.st-stbg-5 {
  background-color: #00008a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Mansalva', cursive;
}

.st-stbg-6 {
  background-color: #22008a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Mansalva', cursive;
}

.st-stbg-7 {
  background-color: #45008a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Mansalva', cursive;
}

.st-stbg-8 {
  background-color: #67008a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Mansalva', cursive;
}

.st-stbg-9 {
  background-color: #8a008a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Mansalva', cursive;
}

.st-stbg-10 {
  background-color: #8a0067;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Mansalva', cursive;
}

.aligntext-left {
  text-align: left;
}

.aligntext-right {
  text-align: right;
}

.aligntext-center {
  text-align: center;
}

.fontsize-1 {
  font-size: 0.5rem;
}

.fontsize-2 {
  font-size: 0.7rem;
}

.fontsize-3 {
  font-size: 1rem;
}

.fontsize-4 {
  font-size: 1.5rem;
}

.fontsize-5 {
  font-size: 2rem;
}

.fontbold {
  font-weight: bold;
}

.fontnormal {
  font-weight: normal;
}

.fontlight {
  font-weight: lighter;
}

.bordertop-light {
  border-top: 0.25rem solid gray;
}

.bordertop {
  border-top: 0.5rem solid gray;
}

.bordertop-bold {
  border-top: 1rem solid gray;
}

.borderleft-light {
  border-left: 0.25rem solid gray;
}

.borderleft {
  border-left: 0.5rem solid gray;
}

.borderleft-bold {
  border-left: 1rem solid gray;
}

.borderright-light {
  border-right: 0.25rem solid gray;
}

.borderright {
  border-right: 0.5rem solid gray;
}

.borderright-bold {
  border-right: 1rem solid gray;
}

.borderbottom-light {
  border-bottom: 0.25rem solid gray;
}

.borderbottom {
  border-bottom: 0.5rem solid gray;
}

.borderbottom-bold {
  border-bottom: 1rem solid gray;
}

.border-light {
  border: 0.25rem solid gray;
}

.border {
  border: 0.5rem solid gray;
}

.border-bold {
  border: 1rem solid gray;
}

.borderround {
  border-radius: 10px;
}

.bordercircle {
  border-radius: 50%;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.clearleft {
  clear: left;
}

.clearright {
  clear: right;
}

.clearboth {
  clear: both;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.hidden {
  display: hidden;
}

@media screen and (min-width: 1024px) {

  [class^="st1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  .mg-lg-top-0 {
    margin-top: 0;
  }

  .mg-lg-top-1 {
    margin-top: 0.5rem;
  }

  .mg-lg-top-2 {
    margin-top: 0.75rem;
  }

  .mg-lg-top-3 {
    margin-top: 1rem;
  }

  .mg-lg-left-0 {
    margin-left: 0;
  }

  .mg-lg-left-1 {
    margin-left: 0.5rem;
  }

  .mg-lg-left-2 {
    margin-left: 0.75rem;
  }

  .mg-lg-left-3 {
    margin-left: 1rem;
  }

  .mg-lg-right-0 {
    margin-right: 0;
  }

  .mg-lg-right-1 {
    margin-right: 0.5rem;
  }

  .mg-lg-right-2 {
    margin-right: 0.75rem;
  }

  .mg-lg-right-3 {
    margin-right: 1rem;
  }

  .mg-lg-bottom-0 {
    margin-bottom: 0;
  }

  .mg-lg-bottom-1 {
    margin-bottom: 0.5rem;
  }

  .mg-lg-bottom-2 {
    margin-bottom: 0.75rem;
  }

  .mg-lg-bottom-3 {
    margin-bottom: 1rem;
  }

  .mg-lg-0 {
    margin: 0;
  }

  .mg-lg-1 {
    margin: 0.5rem;
  }

  .mg-lg-2 {
    margin: 0.75rem;
  }

  .mg-lg-3 {
    margin: 1rem;
  }

  .mg-lg-auto {
    margin: auto;
  }

  .pd-lg-top-0 {
    padding-top: 0;
  }

  .pd-lg-top-1 {
    padding-top: 0.5rem;
  }

  .pd-lg-top-2 {
    padding-top: 0.75rem;
  }

  .pd-lg-top-3 {
    padding-top: 1rem;
  }

  .pd-lg-left-0 {
    padding-left: 0;
  }

  .pd-lg-left-1 {
    padding-left: 0.5rem;
  }

  .pd-lg-left-2 {
    padding-left: 0.75rem;
  }

  .pd-lg-left-3 {
    padding-left: 1rem;
  }

  .pd-lg-right-0 {
    padding-right: 0;
  }

  .pd-lg-right-1 {
    padding-right: 0.5rem;
  }

  .pd-lg-right-2 {
    padding-right: 0.75rem;
  }

  .pd-lg-right-3 {
    padding-right: 1rem;
  }

  .pd-lg-bottom-0 {
    padding-bottom: 0;
  }

  .pd-lg-bottom-1 {
    padding-bottom: 0.5rem;
  }

  .pd-lg-bottom-2 {
    padding-bottom: 0.75rem;
  }

  .pd-lg-bottom-3 {
    padding-bottom: 1rem;
  }

  .pd-lg-0 {
    padding: 0;
  }

  .pd-lg-1 {
    padding: 0.5rem;
  }

  .pd-lg-2 {
    padding: 0.75rem;
  }

  .pd-lg-3 {
    padding: 1rem;
  }

  .pd-lg-auto {
    padding: auto;
  }

  .lg-none {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .md-none {
    display: none;
  }

  .mg-md-top-0 {
    margin-top: 0;
  }

  .mg-md-top-1 {
    margin-top: 0.5rem;
  }

  .mg-md-top-2 {
    margin-top: 0.75rem;
  }

  .mg-md-top-3 {
    margin-top: 1rem;
  }

  .mg-md-left-0 {
    margin-left: 0;
  }

  .mg-md-left-1 {
    margin-left: 0.5rem;
  }

  .mg-md-left-2 {
    margin-left: 0.75rem;
  }

  .mg-md-left-3 {
    margin-left: 1rem;
  }

  .mg-md-right-0 {
    margin-right: 0;
  }

  .mg-md-right-1 {
    margin-right: 0.5rem;
  }

  .mg-md-right-2 {
    margin-right: 0.75rem;
  }

  .mg-md-right-3 {
    margin-right: 1rem;
  }

  .mg-md-bottom-0 {
    margin-bottom: 0;
  }

  .mg-md-bottom-1 {
    margin-bottom: 0.5rem;
  }

  .mg-md-bottom-2 {
    margin-bottom: 0.75rem;
  }

  .mg-md-bottom-3 {
    margin-bottom: 1rem;
  }

  .mg-md-0 {
    margin: 0;
  }

  .mg-md-1 {
    margin: 0.5rem;
  }

  .mg-md-2 {
    margin: 0.75rem;
  }

  .mg-md-3 {
    margin: 1rem;
  }

  .mg-md-auto {
    margin: auto;
  }

  .pd-md-top-0 {
    padding-top: 0;
  }

  .pd-md-top-1 {
    padding-top: 0.5rem;
  }

  .pd-md-top-2 {
    padding-top: 0.75rem;
  }

  .pd-md-top-3 {
    padding-top: 1rem;
  }

  .pd-md-left-0 {
    padding-left: 0;
  }

  .pd-md-left-1 {
    padding-left: 0.5rem;
  }

  .pd-md-left-2 {
    padding-left: 0.75rem;
  }

  .pd-md-left-3 {
    padding-left: 1rem;
  }

  .pd-md-right-0 {
    padding-right: 0;
  }

  .pd-md-right-1 {
    padding-right: 0.5rem;
  }

  .pd-md-right-2 {
    padding-right: 0.75rem;
  }

  .pd-md-right-3 {
    padding-right: 1rem;
  }

  .pd-md-bottom-0 {
    padding-bottom: 0;
  }

  .pd-md-bottom-1 {
    padding-bottom: 0.5rem;
  }

  .pd-md-bottom-2 {
    padding-bottom: 0.75rem;
  }

  .pd-md-bottom-3 {
    padding-bottom: 1rem;
  }

  .pd-md-0 {
    padding: 0;
  }

  .pd-md-1 {
    padding: 0.5rem;
  }

  .pd-md-2 {
    padding: 0.75rem;
  }

  .pd-md-3 {
    padding: 1rem;
  }

  .pd-md-auto {
    padding: auto;
  }

  [class^="st1-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st1-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st1-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st1-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st2-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st2-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st2-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st2-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st3-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st3-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st3-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st3-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st4-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st4-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st4-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st4-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  .sthid-md {
    display: none;
  }

  .sthid-lg-md {
    display: none;
  }

  .sthid-md-sm {
    display: none;
  }

  .sthid-lg-md-sm {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .sm-none {
    display: none;
  }

  .pd-sm-top-0 {
    padding-top: 0;
  }

  .pd-sm-top-1 {
    padding-top: 0.5rem;
  }

  .pd-sm-top-2 {
    padding-top: 0.75rem;
  }

  .pd-sm-top-3 {
    padding-top: 1rem;
  }

  .pd-sm-left-0 {
    padding-left: 0;
  }

  .pd-sm-left-1 {
    padding-left: 0.5rem;
  }

  .pd-sm-left-2 {
    padding-left: 0.75rem;
  }

  .pd-sm-left-3 {
    padding-left: 1rem;
  }

  .pd-sm-right-0 {
    padding-right: 0;
  }

  .pd-sm-right-1 {
    padding-right: 0.5rem;
  }

  .pd-sm-right-2 {
    padding-right: 0.75rem;
  }

  .pd-sm-right-3 {
    padding-right: 1rem;
  }

  .pd-sm-bottom-0 {
    padding-bottom: 0;
  }

  .pd-sm-bottom-1 {
    padding-bottom: 0.5rem;
  }

  .pd-sm-bottom-2 {
    padding-bottom: 0.75rem;
  }

  .pd-sm-bottom-3 {
    padding-bottom: 1rem;
  }

  .pd-sm-0 {
    padding: 0;
  }

  .pd-sm-1 {
    padding: 0.5rem;
  }

  .pd-sm-2 {
    padding: 0.75rem;
  }

  .pd-sm-3 {
    padding: 1rem;
  }

  .pd-sm-auto {
    padding: auto;
  }

  .mg-sm-top-0 {
    margin-top: 0;
  }

  .mg-sm-top-1 {
    margin-top: 0.5rem;
  }

  .mg-sm-top-2 {
    margin-top: 0.75rem;
  }

  .mg-sm-top-3 {
    margin-top: 1rem;
  }

  .mg-sm-left-0 {
    margin-left: 0;
  }

  .mg-sm-left-1 {
    margin-left: 0.5rem;
  }

  .mg-sm-left-2 {
    margin-left: 0.75rem;
  }

  .mg-sm-left-3 {
    margin-left: 1rem;
  }

  .mg-sm-right-0 {
    margin-right: 0;
  }

  .mg-sm-right-1 {
    margin-right: 0.5rem;
  }

  .mg-sm-right-2 {
    margin-right: 0.75rem;
  }

  .mg-sm-right-3 {
    margin-right: 1rem;
  }

  .mg-sm-bottom-0 {
    margin-bottom: 0;
  }

  .mg-sm-bottom-1 {
    margin-bottom: 0.5rem;
  }

  .mg-sm-bottom-2 {
    margin-bottom: 0.75rem;
  }

  .mg-sm-bottom-3 {
    margin-bottom: 1rem;
  }

  .mg-sm-0 {
    margin: 0;
  }

  .mg-sm-1 {
    margin: 0.5rem;
  }

  .mg-sm-2 {
    margin: 0.75rem;
  }

  .mg-sm-3 {
    margin: 1rem;
  }

  .mg-sm-auto {
    margin: auto;
  }

  [class^="st1-1-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st1-1-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st1-1-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st1-1-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st1-2-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st1-2-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st1-2-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st1-2-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st1-3-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st1-3-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st1-3-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st1-3-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st1-4-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st1-4-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st1-4-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st1-4-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st2-1-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st2-1-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st2-1-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st2-1-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st2-2-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st2-2-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st2-2-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st2-2-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st2-3-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st2-3-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st2-3-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st2-3-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st2-4-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st2-4-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st2-4-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st2-4-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st3-1-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st3-1-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st3-1-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st3-1-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st3-2-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st3-2-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st3-2-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st3-2-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st3-3-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st3-3-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st3-3-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st3-3-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st3-4-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st3-4-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st3-4-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st3-4-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st4-1-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st4-1-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st4-1-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st4-1-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st4-2-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st4-2-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st4-2-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st4-2-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st4-3-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st4-3-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st4-3-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st4-3-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st4-4-1"] {
    width: 100%;
    height: calc(var(--height));
  }

  [class^="st4-4-2"] {
    width: calc((var(--width) / 2) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st4-4-3"] {
    width: calc((var(--width) / 3) - var(--margin));
    height: calc(var(--height));
  }

  [class^="st4-4-4"] {
    width: calc((var(--width) / 4) - var(--margin));
    height: calc(var(--height));
  }

}
